@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Regular.woff2") format("woff2"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Regular.woff") format("woff"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Bold.woff2") format("woff2"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Bold.woff") format("woff"),
  url("//static.lenovo.com/fea/fonts/lato/LatoLatin-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

body,
h1,
h2,
h3,
dl,
dt,
dd,
form,
figure {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 1em/1.75 "Lato", Helvetica, Arial, sans-serif;
  background: #fff;
  position: relative;
  color: #000 !important;
  -webkit-text-size-adjust: none;
}

body.accountV3Page {
  background: #fff;
}

body.accountV3Page #msaMasthead {
  background-color: #fff;
  box-shadow: none;
}

input:focus {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #1976a1 !important;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 0 3px 1px #1976a1;
}

button[disabled] {
  box-sizing: border-box;
  height: 46px;
  width: 321px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  background-color: #fff;
  color: #757575;
  cursor: default;
}

.smb-proLogo {
  width: 237px;
  margin: auto; 
}

.smb-proLogo img {
  width: 237px;
}

@keyframes smb-button-spin {
  0% {
    animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.smb-button-running {
  display: inline-block;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 50%;
  margin: -0.5em;
  right: 1.25em;
  animation: smb-button-spin 1s infinite linear;
}

.smb-button-running::after {
  content: " ";
  display: block;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  transform-origin: 0 0;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  border-radius: 50%;
  border: 0.3em solid currentColor;
  border-left-color: transparent;
}

button.running {
  padding-right: 2.5em;
  outline: none;
  background-color: #c6c6c6;
  border: 1px solid #c6c6c6;
  cursor: auto;
  padding-left: 2.5em;
}

@media (max-width: 281px) {
  .smb-proLogo {
    width: 90%;
  }

  .smb-proLogo img {
    width: 100%;
  }
}
@media(max-width: 750px) {
	.smb-proLogo img {
		width: 111px;
		margin: auto;
	}
	.smb-proLogo {
		width: 111px;
		margin: auto;
	}
	.smb-login-popup {
		margin-top: 24px;
	}
	.smb-forget-password-massage{
		margin-top: 24px;
	}
	.smb-login-popup{
		margin-top: 24px;
	}
	.smb-reset-password-massage{
		margin-top: 24px;
	}
	
}
#mainContent{
	margin-top: 24px!important;
}