.smb-reset-password-massage {
  width: 328px;
  margin: 43px auto 0 auto;
  text-align: center;
  line-height: 20px;
}

.smb-reset-password-create {
  margin-bottom: 24px;
  position: relative;
}

.smb-reset-password-confirm {
  position: relative;
}

.smb-reset-password-form {
  width: 320px;
  margin: 24px auto 0 auto;
  text-align: center;
  position: relative;
}

.smb-reset-password-form input {
  width: 320px;
  height: 55px;
  border: 2px solid #d5d5d5;
  border-radius: 4px;
  padding: 17px 0 0 9px;
}

.smb-reset-password-form label {
  display: block;
  position: absolute;
  float: left;
  color: #a9a9a9;
  margin: 15px 0 12px 12px;
  cursor: text;
}

.smb-reset-password-form label::after {
  content: "*";
  color: red;
}

.label-move-up label {
  margin: 5px 0 0 12px;
  font-size: 12px;
  transition: 0.5s;
}

.showPwd.createPassword,
.hidePwd.createPassword {
  position: absolute;
  top: 16px;
  right: 14px;
  font-size: 14px;
  cursor: pointer;
  color: #545454;
}

.hidePwd.confirmPassword,
.showPwd.confirmPassword {
  position: absolute;
  top: 16px;
  right: 14px;
  font-size: 14px;
  cursor: pointer;
  color: #545454;
}

.smb-reset-password-tips {
  margin-top: -13px;
  height: 135px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 15px 0 #0000001a;
  text-align: left;
  line-height: 13px;
}

.your-password-must-h {
  font-size: 14px;
  padding-left: 12px;
  padding-top: 13px;
}

.smb-reset-password-hint {
  font-size: 12px;
  padding-left: 31px;
  position: relative;
  color: #757575;
  font-weight: bold;
}

.passPattern {
  color: #008000;
}

.smb-reset-password-hint1.passPattern::before,
.smb-reset-password-hint2.passPattern::before,
.smb-reset-password-hint3.passPattern::before {
  border-color: #008000;
}

.smb-reset-password-hint img {
  width: 12px;
}

.smb-reset-password-hint1::before {
  content: " ";
  display: block;
  border: solid 0.5em #757575;
  border-radius: 0.8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 4.4%;
  top: 0;
}

.smb-reset-password-hint1::after {
  content: " ";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid #fff;
  border-width: 0 0.1em 0.1em 0;
  position: absolute;
  left: 5.5%;
  top: 1.5%;
  transform: rotate(45deg);
}

.smb-reset-password-hint2::before {
  content: " ";
  display: block;
  border: solid 0.5em #757575;
  border-radius: 0.8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 4.4%;
  top: 34%;
}

.smb-reset-password-hint2::after {
  content: " ";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid #fff;
  border-width: 0 0.1em 0.1em 0;
  position: absolute;
  left: 5.5%;
  top: 35.5%;
  transform: rotate(45deg);
}

.smb-reset-password-hint3::before {
  content: " ";
  display: block;
  border: solid 0.5em #757575;
  border-radius: 0.8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 4.4%;
  top: 84%;
}

.smb-reset-password-hint3::after {
  content: " ";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid #fff;
  border-width: 0 0.1em 0.1em 0;
  position: absolute;
  left: 5.5%;
  top: 85.5%;
  transform: rotate(45deg);
}

.smb-reset-password-reset {
  margin-top: 24px;
  font: 1em/1.75 "Lato", Helvetica, Arial, sans-serif;
  position: relative;
  width: 320px;
  height: 45px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  outline: none;
  background-color: #1976a1;
  font-size: 16px;
  cursor: pointer;
}

.smb-reset-password-cancel {
  background: #fff;
  border: 1px #1976a1 solid;
  border-radius: 4px;
  color: #1976a1;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  width: 320px;
  height: 45px;
  margin: 24px 0 0 0;
  padding-top: 8px;
  font-weight: bold;
}

.smb-forget-password-smile {
  clear: both;
  display: block;
  margin: 69px auto 20px auto;
  width: 40px;
}

.smb-reset-password-success-massage {
  margin: auto;
  width: 330px;
  text-align: center;
  line-height: 20px;
}

.smb-reset-password-button {
  text-align: center;
}

.smb-reset-password-signin {
  background: #1976a1;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  width: 320px;
  height: 45px;
  margin: 0;
  padding-top: 9px;
  font-weight: bold;
}

.smb-reset-password-errorMessage {
  font-size: 12px;
  color: #eb1b04;
}
